@import url(./__logo/header__logo.css);

.header {
  max-width: 882px;
  margin: 42px auto 35px;
  border-bottom: 1px solid rgb(84, 84, 84);
}

@media screen and (max-width: 900px) {
  .header {
    margin: 28px 0 38px;
  }
}
