@import url(./__image/element__image.css);
@import url(./__sign/element__sign.css);
@import url(./__text/element__text.css);
@import url(./__heart/element__heart.css);
@import url(./__heart/_active/element__heart_active.css);
@import url(./__delete/element__delete.css);

.element {
  position: relative;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: black;
  height: 100%;
  max-width: 282px;
  border-radius: 10px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
