.element__heart:hover {
  opacity: 0.6;
  -webkit-transition: 2s linear;
  -o-transition: 2s linear;
  -webkit-transition: 1s linear;
  -o-transition: 1s linear;
  transition: 1s linear;
}

.element__heart {
  padding: 0;
  min-width: 21px;
  min-height: 20px;
  border: none;
  background: transparent;
  background-image: url(../../../image/element__heart.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  outline: 0;
}

