.modal__save-button:hover {
  opacity: 0.5;
  -webkit-transition: 2s linear;
  -o-transition: 2s linear;
  -webkit-transition: 1s linear;
  -o-transition: 1s linear;
  transition: 1s linear;
}

.modal__save-button {
  background: black;
  color: white;
  border: none;
  min-height: 50px;
  max-width: 358px;
  margin-top: 48px;
  cursor: pointer;
  outline: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}
