.modal__save-button:hover {
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: 1s linear;
  -o-transition: 1s linear;
  transition: 1s linear;
}

.modal__save-button {
  background: black;
  color: white;
  border: none;
  min-height: 50px;
  max-width: 358px;
  margin-top: 31px;
  cursor: pointer;
  outline: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 550px) {
  .modal__save-button {
    margin-top: 24px;
    font-size: 14px;
    line-height: 17px;
  }
}
