.profile__about {
  margin: 0;
  max-width: 270px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width: 900px) {
  .profile__about {
    max-width: 170px;
    font-size: 14px;
    line-height: 17px;
  }
}
